@charset "UTF-8";

/* CSS adapted from https://github.com/edwardtufte/tufte-css */

.navbar {
    background-color: #F1E9E3 !important;
}

.navbar-collapse {
    background-image: linear-gradient(to right, #F1E9E3, hsla(0, 0%, 63%, 0.1));
    background-size: cover;
}

.navbar-title {
    font-family: Menlo, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    -webkit-text-fill-color: #333;
    font-size: 1.25rem !important;
}

.nav-link {
    -webkit-text-fill-color: #333 !important;
    color: #333 !important;
    font-size: 1rem !important;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

.nav-link:hover {
    color: #333;
}

#quarto-header .navbar-brand img {
    height: 50px !important;
    max-height: 70px !important;
    width: auto !important;
}

@media (max-width: 767px) {
    #quarto-header .navbar-brand img {
        height: 40px !important;
        max-height: 40px !important;
    }
}

/* Base font size increased */
/* :root {
    font-size: 12px; /* Increased from default 16px */
} */

body {
    font-family: "Avenir", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    text-shadow: none;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('public/images/drought_desert_tree.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.1); /* Made more transparent */
    opacity: 0.7; /* Added opacity for transparency */
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    z-index: -30;
}

/* Closeread CSS styles */

.cr-section.sticky-col.sticky-col-stack {
  transition: transform 3s ease-in-out !important;
}

.cr-section .narrative-col {
  padding-left: 10px;   /* Adds 10px of padding to the left side */
  padding-right: 10px;  /* Adds 10px of padding to the right side */
  padding-top: 20vh;
  width: 150%;         /* Makes the column 150% of its container width */
  max-width: 80vw;     /* Limits maximum width to 80% of viewport width */
}

.cr-section .sticky-col {
  padding-left: 150px;
  padding-right: 20px;
  scroll-margin-top: 700px;
}

#quarto-content .cr-section .narrative-col .trigger {
  padding-top: 0;
  padding-bottom: 85svh;
  padding-right: 0svh;
  padding-right: 0svh;
}

/* A small subset of the official Tufte CSS styles */

/* #quarto-content {
  background-color: #bee4bf;
  color: #111;
  counter-reset: sidenote-counter;
} */

#quarto-content main#quarto-document-content {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
}

#quarto-content main#quarto-document-content h1 {
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

#quarto-content main#quarto-document-content h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

#quarto-content main#quarto-document-content h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

#quarto-content main#quarto-document-content hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#quarto-content main#quarto-document-content p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
}

#quarto-content main#quarto-document-content .numeral {
    font-family: et-book-roman-old-style;
}

#quarto-content main#quarto-document-content .danger {
    color: red;
}

#quarto-content main#quarto-document-content article {
    padding: 5rem 0rem;
}

#quarto-content main#quarto-document-content section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#quarto-content main#quarto-document-content p,
#quarto-content main#quarto-document-content dl,
#quarto-content main#quarto-document-content ol,
#quarto-content main#quarto-document-content ul {
    font-size: 1.4rem;
    line-height: 2rem;
}

#quarto-content main#quarto-document-content p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

/* Chapter Epigraphs 
#quarto-content main#quarto-document-content div.epigraph {
    margin: 5em 0;
}
*/

#quarto-content main#quarto-document-content div.epigraph > blockquote {
    margin-top: 0em;
    margin-bottom: 0em;
}

#quarto-content main#quarto-document-content div.epigraph > blockquote,
#quarto-content main#quarto-document-content div.epigraph > blockquote > p {
    font-style: italic;
}

#quarto-content main#quarto-document-content div.epigraph > blockquote > footer {
    font-style: normal;
}

#quarto-content main#quarto-document-content div.epigraph > blockquote > footer > cite {
    font-style: italic;
}

#quarto-content main#quarto-document-content a:link::selection,
#quarto-content main#quarto-document-content a:link::-moz-selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
}


#quarto-content main#quarto-document-content code, 
#quarto-content main#quarto-document-content pre > code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.2rem;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; 
}

#quarto-content main#quarto-document-content .sans > code {
    font-size: 1.2rem;
}

#quarto-content main#quarto-document-content h1 > code,
#quarto-content main#quarto-document-content h2 > code,
#quarto-content main#quarto-document-content h3 > code {
    font-size: 0.80em;
}

#quarto-content main#quarto-document-content pre > code {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
    display: block;
}
