name: Build and Deploy Quarto Site

on:
    push:
        branches:
            - staging

jobs:
    build-and_commit-site:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            # - name: Install Quarto
            #   uses: quarto-dev/quarto-actions/setup-quarto@v2
            #   with:
            #     version: '2.14.0'

            # - name: Render quarto site
            #   run: quarto render

            - name: Configure Git
              run: |
                git config user.name "RyanKaleliGabriel"
                git config user.email "ryang9241@gmail.com"

            - name: Merge staging into main and push
              run: |
                git fetch origin main
                git checkout main
                git merge origin/staging --no-ff -m "Auto-merge staging to main"
                git push origin main


            
