name: Build and Deploy Quarto Site

on:
    push:
        branches:
            - staging

permissions: 
  contents: write

jobs:
    build-and_commit-site:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            # - name: Install Quarto
            #   uses: quarto-dev/quarto-actions/setup-quarto@v2
            #   with:
            #     version: '2.14.0'

            # - name: Render quarto site
            #   run: quarto render

            - name: Create _site directory
              run: mkdir -p _site

            - name: Configure Git
              run: |
                git config user.name "RyanKaleliGabriel"
                git config user.email "ryang9241@gmail.com"

            # - name: Push staging to main
            #   run: |
            #     git checkout -B main origin/staging
            #     git push origin main --force                

            - name: Temporarily remove _site from gitignore
              run: |
                sed -i '/_site/d' .gitignore

            - name: Commit and push rendered site to main
              run: |
                git add -f _site  # Force add the _site folder (usually gitignored)
                git commit -m "Build site from staging - $(date +'%Y-%m-%d %H:%M:%S')" || echo "No changes to commit"
                git push origin HEAD:main --force
            
