name: Build and Deploy Quarto Site

on:
    push:
        branches:
            - staging

permissions: 
  contents: write

jobs:
    build-and_commit-site:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            # - name: Install Quarto
            #   uses: quarto-dev/quarto-actions/setup-quarto@v2
            #   with:
            #     version: '2.14.0'

            # - name: Render quarto site
            #   run: quarto render

            - name: Configure Git
              run: |
                git config user.name "RyanKaleliGabriel"
                git config user.email "ryang9241@gmail.com"

            - name: Push staging to main
              run: |
                git checkout -B main origin/staging
                git push origin main                 


            
